<h1>Home</h1>
<p class="lead">Welcome to My Finances, the app that helps you easily manage your personal finances.</p>
<p>With MyFinances you can keep track of your spending easily. Take control of your finances and live the lifestyle you want to live!</p>
